[submodule "KMeans_Python"]
	path = KMeans_Python
	url = https://github.com/RicardoMoya/KMeans_Python
[submodule "ExpectationMaximization_Python"]
	path = ExpectationMaximization_Python
	url = https://github.com/RicardoMoya/ExpectationMaximization_Python
[submodule "OptimalNumClusters"]
	path = OptimalNumClusters
	url = https://github.com/RicardoMoya/OptimalNumClusters
[submodule "LinearRegression_Python"]
	path = LinearRegression_Python
	url = https://github.com/RicardoMoya/LinearRegression_Python